<body>
  <div id="wrapper">
    <div id="left">
      <div id="signin">
        <div class="logo">
          <img src="./assets/img/logo-en.png" alt="WALC" />
        </div>
        <form #loginForm="ngForm" (ngSubmit)="login()">
          <div>
            <label>E-mail</label>
            <input type="email" id="inputEmail" class="text-input" placeholder="Address E-mail" required autofocus
              name="email" #email='ngModel' [(ngModel)]="user.email"
              pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" />
          </div>
          <div>
            <label>Password</label>
            <input type="password" class="text-input" id="inputPassword" placeholder="Contraseña" required
            name="password" #password='ngModel' [(ngModel)]="user.password" />
          </div>
          <button type="submit" class="primary-btn">log In</button>
        </form>
        <div class="or">
          <hr class="bar" />
          <span>O</span>
          <hr class="bar" />
        </div>
        <a routerLink="/register" class="secondary-btn">Sign In</a>
      </div>
    </div>
    <div id="right">
      <div id="showcase">
        <div class="showcase-content">
        </div>
      </div>
    </div>
  </div>
</body>